*{
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}
.navbar{
  background: #fff;
  height: 10%;
  box-shadow: 0 0px 8px 0px rgba(0,0,0,.5);
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  top: 0;
}

.colorcodeload{
  margin-left:2%;
}
.navfont{
  margin-left: 2%;
  color: #E3E3E3;
}
.box{
  background: #fff;
  box-shadow: 0 0px 10px 0px rgba(0,0,0,.5);
  font-family: 'Raleway', sans-serif;
  margin-top: 10%;
  padding: 5%;
}

.box p{
  letter-spacing: 2px;
  margin-top: 5%;
}

.container{
  margin-top: 2%;
}

#spcolor{
  height: 80px;
  text-align: center;
  font-size: 20px;
  padding: 2%;
}
.col{
  height: 40px;
}

.col:hover
{
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,.8);
}

.light{
  color: #fff;
}
.dark{
  color: #000;
  font-size: 20px;
  height: 100%;
  text-align: center;
}

.titlebox{
  margin: 5%;
  width: 90%;
}

.card{
  border: none;
}
